<!DOCTYPE html>
<html lang="en">

<!-- Created by Nazar "N1h3" Hutsol -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/ticket-status.css"]" />
    <link rel="stylesheet" href="@Assets["ServiceDeskSystem.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
